django==2.0.0
djangorestframework==3.8.2
django-allauth==0.32.0
django-rest-auth==0.9.3
djangorestframework-jwt==1.11.0
psycopg2-binary===2.7.5
django-eventstream===2.4.0
channels===2.1.2
django-channels===0.7.0
redis===2.10.6
channels_redis===2.3.2
