<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>talky talk</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <h3>
                    Login
                </h3>
                <p>email:</p>
                <input name="email" type="text">
                <p>password:</p>
                <input name="password" type="password">
                <button> Login</button>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h3>
                    Register
                </h3>
                <p>email:</p>
                <input name="email" type="text">
                <p>password:</p>
                <input name="password1" type="password">
                <p>repeat-password:</p>
                <input name="password2" type="password">
                <button>Register</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>