<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <button> + Add Contact</button>


            <table>
                <tr>
                    <th style="width: 50px">ID</th>
                    <th style="width: 300px">Name</th>
                    <th style="width: 100px">Email</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Maria Anders</td>
                    <td>a@a.com</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Francisco Chang</td>
                    <td>a@a.com</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Roland Mendel</td>
                    <td>a@a.com</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Helen Bennett</td>
                    <td>a@a.com</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Yoshi Tannamuri</td>
                    <td>a@a.com</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Giovanni Rovelli</td>
                    <td>a@a.com</td>
                </tr>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
</body>
</html>