<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>talky talk</title>
    <link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/js/eventsource.min.js"></script>
    <script src="/static/js/reconnecting-eventsource.js"></script>
</head>
<body>
this is our perfect view
</body>
<script>
    var es = new EventSource('/events/');

    es.addEventListener('message', function (e) {
        console.log(e.data);
    }, false);

    es.addEventListener('stream-reset', function (e) {
        // ... client fell behind, reinitialize ...
        console.log(e)
    }, false);


    var csrf_val = document.cookie.split('csrftoken=')[1];
    $.ajax({method:'GET', url:'/events/',
        headers: {'X-CSRFToken': csrf_val},
        success: function (data) {
            console.log(data)
        },
        error: function (err) {
            console.log(err)
        }
    });


</script>
</html>