<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>talky talk</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .table {
            text-align: center;
        }

        .table th {
            text-align: center;
        }
    </style>

</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 100px">
        <div class="col-md-5 col-md-offset-1">

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">create room</div>
                <div class="panel-body">
                    <div class="input-group">
                            <span class="input-group-btn">
                            <button class="btn btn-default"
                                    onclick="createRoom()"
                                    type="button">Create Room!</button>
                            </span>
                        <input type="text" id="create-room-input" class="form-control" placeholder="Room ID">
                    </div><!-- /input-group -->
                </div>

            </div>

        </div>
        <div class="col-md-5">

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">join room</div>
                <div class="panel-body">
                    <div class="input-group">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Join Room!</button>
                            </span>
                        <input type="text" class="form-control" placeholder="Room ID">
                    </div><!-- /input-group -->
                </div>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Panel heading</div>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>room id</th>
                        <th>room status</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>
    </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
<script>
    const csrf_val = document.cookie.split("csrftoken=")[1];

    $.ajax({
        url: "http://127.0.0.1:8001/api/room/",
        headers: {"X-CSRFToken": csrf_val},
        type: "GET",
        success: function (data, textStatus, jqXHR) {
            // generate rooms elements
            data.map((room) =>
                $('tbody')[0].innerHTML += `<tr><td>${room.room_id}</td><td>${room.status}</td></tr>`
            )
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log('error')
        }
    });

    let createRoom = () => {
        const value = document.getElementById("create-room-input").value;
        console.log(value);
        $.ajax({
            url: "http://127.0.0.1:8001/api/room/",
            headers: {"X-CSRFToken": csrf_val},
            data: {
                'room_id': value,
            },
            type: "POST",
            success: function (data, textStatus, jqXHR) {
                // const rooms = data;
                console.log(data);
                // generate rooms elements

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log('error')
            }
        });
    }

</script>
</html>

