<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>talky talk</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <style>
        .table {
            text-align: center;
        }

        .table th {
            text-align: center;
        }

        .btn {
            transition: all 0.5s;
        }
    </style>

</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 100px">
        <div class="col-md-5 col-md-offset-1">

            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">create room</div>
                <div class="panel-body">
                    <div class="input-group">
                            <span class="input-group-btn">
                            <button class="btn btn-default"
                                    id="create-room-button"
                                    onclick="createRoom()"
                                    type="button">Create Room!</button>
                            </span>
                        <input type="text" id="create-room-input" class="form-control" placeholder="Room ID">
                    </div><!-- /input-group -->
                </div>

            </div>

        </div>
        <div class="col-md-5">

            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">join room</div>
                <div class="panel-body">
                    <div class="input-group">
                            <span class="input-group-btn">
                            <button class="btn btn-default"
                                    id="join-room-button"
                                    onclick="joinRoom()"
                                    type="button">Join Room!</button>
                            </span>
                        <input type="text"
                               id="join-room-input"
                               class="form-control" placeholder="Room ID">
                    </div><!-- /input-group -->
                </div>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">User Rooms</div>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>room id</th>
                        <th>room status</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>
    </div>

</div>


</body>
<script>
    var es = new EventSource('/events/');

    es.addEventListener('message', function (e) {
        console.log(e.data);
    }, false);

    es.addEventListener('stream-reset', function (e) {
        // ... client fell behind, reinitialize ...
        console.log(e)
    }, false);

    const csrf_val = document.cookie.split("csrftoken=")[1];

    $.ajax({
        url: "/api/room/",
        headers: {"X-CSRFToken": csrf_val, 'Authorization': 'Token ' + $.cookie("userToken")},
        type: "GET",
        success: function (data, textStatus, jqXHR) {
            // generate rooms elements
            data.map((room) =>
                $('tbody')[0].innerHTML += `<tr><td>${room.room_id}</td><td>${room.status}</td></tr>`
            )
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log('error')
        }
    });

    const createRoom = () => {
        let inputElement = document.getElementById("create-room-input");
        let button = $("#create-room-button");
        console.log($.cookie("userToken"));
        $.ajax({
            url: "/api/room/",
            headers: {"X-CSRFToken": csrf_val, 'Authorization': 'Token ' + $.cookie("userToken")},
            data: {
                'room_id': inputElement.value,
            },
            type: "POST",
            success: function (data, textStatus, jqXHR) {
                // generate rooms elements
                $('tbody')[0].innerHTML += `<tr><td>${data.room_id}</td><td>${data.status}</td></tr>`;
                inputElement.value = null;
                button.css('background-color', '#3c763d');
                button.css('color', 'white');
                setTimeout(() => {
                    button.css('background-color', '#ffffff');
                    button.css('color', 'black');
                }, 1000)

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
                console.log(errorThrown);
                console.log(jqXHR);
                if (errorThrown === 'Not Acceptable')
                    alert('room with this ID already exists');
                else
                    alert('please enter a valid room_id')
            }
        });
    };

    const joinRoom = () => {
        let inputElement = document.getElementById("join-room-input");
        let button = $("#join-room-button");
        $.ajax({
            url: "/api/room/join",
            headers: {"X-CSRFToken": csrf_val, 'Authorization': 'Token ' + $.cookie("userToken")},
            data: {
                'room_id': inputElement.value,
            },
            type: "POST",
            success: function (data, textStatus, jqXHR) {
                inputElement.value = null;
                button.css('background-color', '#3c763d');
                button.css('color', 'white');
                setTimeout(() => {
                    button.css('background-color', '#ffffff');
                    button.css('color', 'black');
                }, 1000)

            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('please enter a valid room_id')
            }
        });
    }

</script>
</html>

