<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>video chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>
<body>
<video autoplay id="self-video"></video>
<video autoplay id="remote-video"></video>
<script>
    const SignalingChannel = function () {
        this.send = function (data) {

            $.ajax({
                url: "/api/signaling/",
                headers: {"X-CSRFToken": $.cookie("csrftoken"), 'Authorization': 'Token ' + $.cookie("userToken")},
                data: {
                    'data': data,
                },
                type: "POST",
                success: function (data, textStatus, jqXHR) {
                    console.log('message sent');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('signaling failed')
                }
            });


        };

        this.onmessage = function (message) {
            console.log('message received!!! : ');
            console.log(message);
        };
    };

    const signaling = new SignalingChannel();
    // signaling.send('this is a data');

    $.ajax({
        url: "/api/getUser/",
        headers: {"X-CSRFToken": $.cookie("csrftoken"), 'Authorization': 'Token ' + $.cookie("userToken")},
        type: "GET",
        success: function (data, textStatus, jqXHR) {

            var es = new EventSource('/events/?channel=' + data[0].email);

            es.addEventListener('message', signaling.onmessage, false);

            es.addEventListener('stream-reset', function (e) {
                // ... client fell behind, reinitialize ...
                console.log(e);
            }, false);
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log('signaling failed')
        }
    });


    // const signaling = new SignalingChannel(); // handles JSON.stringify/parse
    let selfView = document.querySelector('video#self-video');
    let remoteView = document.querySelector('video#remote-video');
    const constraints = {audio: true, video: true};
    const configuration = {iceServers: [{urls: 'stuns:stun.example.org'}]};
    const pc = new RTCPeerConnection();

    // send any ice candidates to the other peer
    pc.onicecandidate = ({candidate}) => signaling.send({candidate});

    // let the "negotiationneeded" event trigger offer generation
    pc.onnegotiationneeded = async () => {
        try {
            await pc.setLocalDescription(await pc.createOffer());
            // send the offer to the other peer
            signaling.send({
                peer: 'callee',
                desc: pc.localDescription
            });
        } catch (err) {
            console.error(err);
        }
    };

    // once media for a remote track arrives, show it in the remote video element
    pc.ontrack = (event) => {
        // don't set srcObject again if it is already set.
        if (remoteView.srcObject) return;
        remoteView.srcObject = event.streams[0];
    };

    // call start() to initiate
    async function start() {
        try {
            // get a local stream, show it in a self-view and add it to be sent
            const stream = await navigator.mediaDevices.getUserMedia(constraints);
            stream.getTracks().forEach((track) => pc.addTrack(track, stream));
            selfView.srcObject = stream;
        } catch (err) {
            console.error(err);
        }
    }

    signaling.onmessage = async ({desc, candidate}) => {
        try {
            if (desc) {
                // if we get an offer, we need to reply with an answer
                if (desc.type == 'offer') {
                    await pc.setRemoteDescription(desc);
                    const stream = await navigator.mediaDevices.getUserMedia(constraints);
                    stream.getTracks().forEach((track) => pc.addTrack(track, stream));
                    await pc.setLocalDescription(await pc.createAnswer());
                    signaling.send({desc: pc.localDescription});
                } else if (desc.type == 'answer') {
                    await pc.setRemoteDescription(desc);
                } else {
                    console.log('Unsupported SDP type. Your code may differ here.');
                }
            } else if (candidate) {
                await pc.addIceCandidate(candidate);
            }
        } catch (err) {
            console.error(err);
        }
    };


    // const pc = new RTCPeerConnection();
    //
    //
    // function gotStream(stream) {
    //     let video = document.querySelector('video');
    //
    //     //insert stream into the video tag
    //     video.src = window.URL.createObjectURL(stream);
    //
    //
    //     pc.addStream(stream);
    //     pc.createOffer(function (offer) {
    //         pc.setLocalDescription(offer);
    //         signaling.send(offer.sdp)
    //     })
    // }
    //
    // pc.onicecandidate = function (event) {
    //     if (event.candidate) {
    //         signaling.send(event.candidate)
    //     }
    // };
    //
    // signaling.onmessage = function (message) {
    //     console.log('on caller signaling onmessage');
    //     console.log(message);
    //     if (message.candidate) {
    //         pc.addIceCandidate(message.candidate)
    //     }
    // };
    //
    // pc.onconnectionstatechange = function (event) {
    //     console.log("conn state change : " + event.target.iceConnectionState)
    // };
    //
    // function hasUserMedia() {
    //     navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia
    //         || navigator.mozGetUserMedia || navigator.msGetUserMedia;
    //     return !!navigator.getUserMedia;
    // }
    //
    // if (hasUserMedia()) {
    //     navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia
    //         || navigator.mozGetUserMedia || navigator.msGetUserMedia;
    //
    //     //get both video and audio streams from user's camera
    //     navigator.getUserMedia({video: true}, gotStream, function () {
    //         console.log('error getting stram')
    //     });
    //
    // } else {
    //     alert("Error. WebRTC is not supported!");
    // }


</script>
</body>
</html>
